/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.navlist {
    display: flex;
    flex-direction: row;
	font-size: 20px;
	word-spacing: 100px;
	margin-left: 50px;
    margin-right: 15px;
    margin-top: 30px;
    padding 350px;
}

.servicesnav{
    margin-right: 30px;

}

.productnav{
    margin-right: 30px;
}

.visionnav{
    margin-right: 30px;
}

.featuresnav{
    margin-right: 30px;
}

.aboutnav{
    margin-right: 30px;
}

.contactnav{
    margin-right: 30px;
}


.logo{
    margin-top: 20px;

}

header{
    display: flex;

}

.circleimage{
    display: flex;
    margin-left: 175px;
    margin-top: -10px;
}


h1 {
	font-size: 100px;
	width: 50%;
	position: relative;
	top: 10px;
	margin-top: 50px;
	margin-left: 150px;
    display: flex;
    text-align: center;

}

button {
	color: black;
	background-color: white;
	padding: 10px 30px;
    display: flex;
    margin-left: 290px;
    margin-top: 20px;
  }
  
  button:hover {
	background-co`r: forestgreen;
	border: 2px solid gray;
	color: white;
  }

  .circleimage {
	position: relative;
	  top: 75px;
	  margin-right: -100px;
  }

  hr{
      margin-top: 75px;
      width: 1000px;
      margin-bottom: 20px;
  }

  .toptext{
    display: flex;
    justify-items: center
	width: 1000px;
	padding: 25px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 50px;
    }
    
.featurescontainer{
    display:flex;
    flex-direction: column;
    margin-right: 50px;

}

.featuresabout{
    display:flex;
    flex-direction: column;
}

 .middle-img {
    display:flex;
    justify-content: center;
	width: 1100px;
	margin-top: 25px;
	margin-left: 100px;
  }

  .bottomtext {
	column-count: 3;
	column-span: all;
	width: 1200px;
	padding: 50px;
	margin-top: 20px; 
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 150px;
  }

  .bottomborder{
      display: flex;
      margin-top: -200px;
      margin-bottom: 125px;
  }

  .contact {
	column-count: 1;
	column-span: all;
	width: 175px;
	margin-top: -100px; 
	margin-left: 100px;
	margin-right: 50px;
	margin-bottom: 50px;
	padding: 10px;
	  
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* media queries start here */


  @media(max-width: 800px) {
    
     .navmenu{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .navlist{
        margin-top: 30px;
        margin-left: 75px;
        word-spacing: 65px;
    }

    .logo{
        margin-left: 85px;
        margin-top:30px;
    }

    .circleimage{
        display:none;
    }
    
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .buttoncontainer{
        display: flex;
        align-items: center;
        margin-left: 400px;
    }

    .toptext{
        width: 85%;
    }

    .middle-img{
        display: flex;
        justify-items: center;
        width: 85%;
        }   

    .bottomtext{
        width: 95%;
    }

    /* 500 MOBILE VIEW STARTS HERE */


  
  @media(max-width: 500px) {
    
    .navmenu{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .navlist{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 20px;
        word-spacing: 40px;
    }

    .navlist div a{
        padding: 1000px;
    }

    .servicesnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;

    }

    .productnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }

    .visionnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }

    .featuresnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }

    .aboutnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }

    .contactnav{
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }


    .logo{
        margin-left: 55px;
        margin-top:30px;
    }


    .circleimage{
        display:none;
    }
    
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }

    .toptext{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .featurescontainer{
        margin-bottom: 30px;
    }

    .middle-img{
        display:flex;
        Align-items: center;
        width: 90%;
        margin-left: 30px;
    }

    .buttoncontainer{
        margin-left: 210px;
    }

    .bottomtext{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 50px; 
        padding: 30px;
        margin-left: 10px;
      }

      .servicescontainer{
          margin-bottom: 35px;
          margin-top: -10px;
      }

      .productcontainer{
        margin-top: 35px;
    }

    .visioncontainer{
        margin-top: 35px;
    }

    .bottomborder{
        margin-top: -70px;
    }

    .contact{
        margin-left: 10px;
    }

